.product {
  margin: 8px;
  &.product-enter {
    opacity: 0 !important;
  }
  &.product-enter-active  {
    opacity: 1 !important;
    transition: opacity 0.3s;
  }
  &.product-exit-active {
    opacity: 0 !important;
    transition: opacity 0.15s;
  }
  &.is-selected {
    border: 2px solid #039be5;
  }
  &__thumbnail {
    padding-bottom: 100%;
  }
}